<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljc.blog.mapper.AircleGroupMapper">
  <resultMap id="BaseResultMap" type="com.ljc.blog.entity.AircleGroup">
    <id column="Fid" jdbcType="VARCHAR" property="fid" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="group_icon" jdbcType="VARCHAR" property="groupIcon" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
  </resultMap>
  <sql id="Base_Column_List">
    Fid, group_name, remark, group_icon, register_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aircle_group
    where Fid = #{fid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from aircle_group
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from aircle_group
    where Fid = #{fid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ljc.blog.entity.AircleGroup">
    insert into aircle_group (Fid, group_name, remark, 
      group_icon, register_time)
    values (#{fid,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{groupIcon,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ljc.blog.entity.AircleGroup">
    insert into aircle_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        Fid,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="groupIcon != null">
        group_icon,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupIcon != null">
        #{groupIcon,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljc.blog.entity.AircleGroup">
    update aircle_group
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupIcon != null">
        group_icon = #{groupIcon,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Fid = #{fid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljc.blog.entity.AircleGroup">
    update aircle_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      group_icon = #{groupIcon,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP}
    where Fid = #{fid,jdbcType=VARCHAR}
  </update>
</mapper>