<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljc.blog.mapper.UserMapper">
    <resultMap id="baseResultMap" type="com.ljc.blog.entity.User">
        <id property="userId" column="user_id"  jdbcType="VARCHAR"/>
        <result property="username" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="user_pass" jdbcType="VARCHAR"/>
        <result property="userEmail" column="user_email" jdbcType="VARCHAR"/>
        <result property="registerDate" column="user_register_time" jdbcType="TIMESTAMP"/>
        <result property="userLastLoginDate" column="user_last_login_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="tb">user</sql>
    <sql id="user_List">user_id,user_name,user_pass,user_email,user_register_time,
    user_last_login_time</sql>
    <select id="getUserById" resultMap="baseResultMap" parameterType="string">
    select
    <include refid="user_List"/>
    from
    <include refid="tb"/>
    where user_id=#{userId}
    </select>
    <select id="getUserByName" resultMap="baseResultMap" parameterType="string">
        select
        <include refid="user_List"/>
        from
        <include refid="tb"/>
        where user_name=#{username}
    </select>
    <select id="getUserByEmail" resultMap="baseResultMap" parameterType="string">
        select
        <include refid="user_List"/>
        from
        <include refid="tb"/>
        where user_email=#{userEmail}
    </select>
    <select id="getAllUser" resultMap="baseResultMap" >
        select
        <include refid="user_List"/>
        from
        <include refid="tb"/>
        order by user_register_time desc
    </select>
    <select id="getUserByNameOrEmail" resultMap="baseResultMap" parameterType="string">
        select
        <include refid="user_List"/>
        from
        <include refid="tb"/>
        <where>
        user_name=#{value}or user_email=#{value}
        </where>
        limit 1
    </select>
    <insert id="insertUser" parameterType="com.ljc.blog.entity.User" useGeneratedKeys="true" keyProperty="userId">
        insert into
        <include refid="tb"/>
        (user_id,user_name,user_pass,user_email,user_register_time,user_last_login_time)
        values(#{userId},#{username},#{password},#{userEmail},#{registerDate},#{userLastLoginDate})
    </insert>
    <delete id="deleteUser" parameterType="string">
           delete from
           <include refid="tb"/>
        where user_id=#{userId}
    </delete>
    <update id="updateUser" parameterType="com.ljc.blog.entity.User">
        update
        <include refid="tb"/>
        <set>
            <if test="username!=null">user_name=#{username},</if>
            <if test="password!=null">user_pass=#{password},</if>
            <if test="userEmail!=null">user_email=#{userEmail}</if>
        </set>
        where user_id = #{userId}
    </update>


</mapper>